<head>
  <link rel="stylesheet" href="/styles.css" />
</head>
<footer class="footer">
  <h1 class="footerHeader">Videogame Inventory</h1>
  <p class="footerText">
    This project is a part of The Odin Project. Check out the project repository
    <a
      href="https://github.com/Mustafa1908/inventory-application/tree/main"
      target="_blank"
      >here.</a
    >
  </p>
  <span class="footerCopyrightText">© Made By Mustafa Özkara, 2024.</span>
</footer>
