<head>
  <link rel="stylesheet" href="/stylesheet/styles.css" />
</head>

<nav class="nav">
  <h5 class="navHeader">Videogame Inventory</h5>
  <a href="/videogame" class="navbarAnchor">Videogames</a>
  <a href="/videogame_categorie" class="navbarAnchor">Videogames Categories</a>
  <a href="/" class="navbarAnchor">Home</a>
  <a href="/create_videogame_categorie" class="navbarAnchor"
    >New Videogame Categorie</a
  >
  <a href="/create_videogame" class="navbarAnchor">New Videogame</a>
</nav>
<nav class="secondaryNav">
  <a href="/videogame" class="secondaryNavbarAnchor">Videogames</a>
  <a href="/videogame_categorie" class="secondaryNavbarAnchor"
    >Videogames Categories</a
  >
  <a href="/" class="secondaryNavbarAnchor">Home</a>
  <a href="/create_videogame_categorie" class="secondaryNavbarAnchor"
    >New Videogame Categorie</a
  >
  <a href="/create_videogame" class="secondaryNavbarAnchor">New Videogame</a>
</nav>
