.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 3rem;
  padding-right: 1rem;
  padding-left: 3rem;
}

.videogameImage {
  width: 250px;
  height: 100px;
  object-fit: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  opacity: 0.9;
  transition: transform 0.2s;
}

.videogameImage:hover {
  transform: scale(1.1);
}

@media (max-width: 423px) {
  .main {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .videogameImage {
    width: 130px;
  }
}

@media (min-width: 424px) and (max-width: 611px) {
  .main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .videogameImage {
    width: 180px;
  }
}
