<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Are you sure you wanna delete this videogame?</p>
    <p><%= videogameInformations[0].videogame_name %></p>
    <form
      action="/videogame/<%= videogameParams.id %>/<%= videogameParams.videogameId %>/delete"
      method="POST"
    >
      <button type="submit">Submti</button>
    </form>
  </body>
</html>
