<head>
  <link rel="stylesheet" href="/navbar.css" />
</head>
<nav class="nav">
  <a href="/videogame">Videogames</a>
  <a href="/videogame_categorie">Videogames Categories</a>
  <a href="/">Home</a>
  <a href="/create_videogame_categorie">New Videogame Categorie</a>
  <a href="/create_videogame">New Videogame</a>
</nav>
