<nav class="nav">
  <a href="/videogame">Items</a>
  <a href="/videogameategorie">Categories</a>
  <a href="/">Home</a>
  <a href="/newvideogamecategory">New Category</a>
  <a href="/newvideogame">New Item</a>
</nav>
