<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Videogame Category</title>
  </head>
  <body>
    <%- include('navbar'); -%>
    <form action="/create_videogame_categorie" method="POST">
      <label for="videogameCategorie">Videogame Categorie: </label>
      <input
        type="text"
        name="videogameCategorie"
        id="videogameCategorie"
        required
      />
      <label for="videogameCategorieDescription"
        >Videogame Categorie Description:
      </label>
      <input
        type="text"
        name="videogameCategorieDescription"
        id="videogameCategorieDescription"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
