<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/view_all_videogames_categories.css" />
    <title>Videogame Category</title>
  </head>
  <body>
    <%- include('navbar'); -%>
    <p>Video game category</p>
    <header class="header">
      <% if (videogameCategories) {%> <% for (let i = 0; i <
      videogameCategories.length; i++) { %>
      <a
        href="/videogame_categorie/<%= videogameCategories[i].videogame_categorie_name %>"
        class="openMessageLink"
        ><%= videogameCategories[i].videogame_categorie_name %>
        <div>
          <img
            src="<%= videogameCategories[i].videogame_categorie_image %>"
            class="img"
            alt=""
          />
        </div>
      </a>
      <% } %> <% } %>
    </header>
  </body>
</html>
