<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/view_all_videogame.css" />
    <title>Videogames</title>
  </head>
  <body>
    <%- include('navbar'); -%>
    <p>here are the videogames:</p>
    <header class="header">
      <% if (videogameInformation) {%> <% for (let i = 0; i <
      videogameInformation.length; i++) { %>
      <div class="videogameContainer">
        <a
          href="/videogame/<%= videogameInformation[i].videogame_name %>"
          class="openMessageLink"
          ><%= videogameInformation[i].videogame_name %></a
        >
      </div>
      <% } %> <% } %>
    </header>
  </body>
</html>
