<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videogame Category</title>
  </head>
  <body>
    <%- include('navbar'); -%>
    <p>Video game category</p>
    <% if (videogameCategories) {%> <% for (let i = 0; i <
    videogameCategories.length; i++) { %>
    <div>
      <span> <%= videogameCategories[i].videogame_categorie_name %> </span>
      <span>
        <%= videogameCategories[i].videogame_categorie_description %>
      </span>
    </div>
    <% } %> <% } %>
  </body>
</html>
